# API Environment Mode
#Switch 'localhost' or 'render'
EXPO_PUBLIC_API_ENV=render

# Local Development API URL
EXPO_PUBLIC_API_BASE_URL_LOCAL=http://localhost:3000

# Production API URL (now your ECS/Fargate backend)
EXPO_PUBLIC_API_BASE_URL_RENDER=http://dorsu-backend-alb-2059766618.ap-southeast-1.elb.amazonaws.com
# Development API URL (for testing)
#EXPO_PUBLIC_API_BASE_URL_RENDER=https://dorsu-connect.onrender.com
