# API Environment Mode
#Switch 'localhost' or 'render'
EXPO_PUBLIC_API_ENV=render

# Local Development API URL
EXPO_PUBLIC_API_BASE_URL_LOCAL=http://localhost:3000

# Production API URL (now your ECS/Fargate backend)
EXPO_PUBLIC_API_BASE_URL_RENDER=http://52.221.223.110:3000
# Development API URL (for testing)
#EXPO_PUBLIC_API_BASE_URL_RENDER=https://dorsu-connect.onrender.com
